doctype html
html(lang='en')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1., user-scalable=no, target-densityDpi=device-dpi')
    meta(charset='UTF-8')
    link(rel='icon' href='/favicon.ico')
    link(href='http://fonts.googleapis.com/css?family=Lato:100,300', rel='stylesheet', type='text/css')
    link(rel='apple-touch-icon-precomposed' href='/favicon-152.png')
    link(rel='stylesheet', href='/style.css')
    title Seaside Heights Dashboard
  body
    h1 #{JSON.stringify()}
    .container
      header
        h2 Seaside Heights Dashboard
        .buttons
            if today
              a(href="/") 
                .butt.selected
                  h4 today
              a(href="/tomorrow")  
                .butt
                  h4 tomorrow
            else
              a(href="/") 
                .butt
                  h4 today
              a(href="/tomorrow")  
                .butt.selected
                  h4 tomorrow
      .event.weather
        if currentWeather
          p now: #{parseInt(currentWeather.temperature)}&deg;F
          p humidity: #{parseInt(currentWeather.humidity*100)}% 
          p precipitation: #{parseInt(currentWeather.precipProbability*100)}%
          p winds: #{parseInt(currentWeather.windSpeed)}mph
        p #{weather.summary}
        p #{parseInt(weather. apparentTemperatureMax)}&deg;F / #{parseInt(weather.apparentTemperatureMin)}&deg;F

      - each event in events
        - var eventClasses = (now<event.time.unix() ? event.event : event.event + " old")
        .event(class=eventClasses)
          h4 
            =event.event
          h2
            =event.time.format('h:mm a')
          if event.until
            h4
              =event.until
      footer
        a(href='http://thomasmilburn.com') tom milburn
        br
        a(href='http://github.com/tommilburn/seaside') github
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-53565204-1', 'auto');
    ga('send', 'pageview');

