doctype html(lang='en')
head
  meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1., user-scalable=no, target-densityDpi=device-dpi')
  meta(charset='UTF-8')
  link(href='http://fonts.googleapis.com/css?family=Lato:100,300', rel='stylesheet', type='text/css')
  link(rel='stylesheet', href='/style.css')
  title Seaside Heights Dashboard
  body
    .container
      header
        h2 Seaside Heights Dashboard
        .buttons
          .butt.selected
            a(href="/") today
          .butt.selected
            a(href="/tomorrow") tomorrow
      .event.weather
        p(style='white-space:pre;')
          if currentWeather
            h2 now: #{parseInt(currentWeather.temperature)}&deg;F
            p humidity: #{parseInt(currentWeather.humidity*100)}% 
            p precipitation: #{parseInt(currentWeather.precipProbability*100)}%
            p winds: #{parseInt(currentWeather.windSpeed)}mph
        p #{weather.summary}
        p #{parseInt(weather. apparentTemperatureMax)}&deg;F / #{parseInt(weather.apparentTemperatureMin)}&deg;F

      - each event in events
        - var eventClasses = (now<event.time.unix() ? event.event : event.event + " old")
        .event(class=eventClasses)
          h4 
            =event.event
          h2
            =event.time.format('h:mm a')
          if event.until
            h4
              =event.until
      footer
        a(href='http://thomasmilburn.com') tom milburn
